.kernel0 {
  background-color: hsl(0, 50%, 50%);
}
.kernel1 {
  background-color: hsl(30, 50%, 50%);
}
.kernel2 {
  background-color: hsl(60, 50%, 50%);
}
.kernel3 {
  background-color: hsl(90, 50%, 50%);
}
.kernel4 {
  background-color: hsl(120, 50%, 50%);
}
.kernel5 {
  background-color: hsl(150, 50%, 50%);
}
.kernel6 {
  background-color: hsl(180, 50%, 50%);
}
.kernel7 {
  background-color: hsl(210, 50%, 50%);
}
.kernel8 {
  background-color: hsl(240, 50%, 50%);
}
.kernel9 {
  background-color: hsl(270, 50%, 50%);
}
.kernel10 {
  background-color: hsl(300, 50%, 50%);
}
.kernel11 {
  background-color: hsl(330, 50%, 50%);
}
