th,td {
    border: solid 1px;          /* 枠線指定 */
}
 
table {
    border-collapse:  collapse; /* セルの線を重ねる */
    width:  100%;               /* 幅指定 */
}
 
th {
    width:  100px;              /* 幅指定 */
    font-weight:  normal;       /* 文字の太さ指定 */
}
 
td {
    font-weight:  bold;         /* 文字の太さ指定 */
    max-width: 3em;
    min-width: 3em;
}
